nav{
    background-color: rgb(60, 80, 60);
}

.navitem{
    color: white;
}

.character {
    text-align: center;
    height: 300px;
    
}

.cards{
    height: 100px;
    margin-right: 0;
}

.lils {
    background-image: linear-gradient(to left, rgb(69, 127, 141) , white);
    margin-bottom: 10px;
    text-align: center;
}

.Ems{ background-image: linear-gradient(to right, rgb(243, 106, 232) , white);
    margin-bottom: 10px;
    text-align: center;
}

.Tina{ background-image: linear-gradient(to left, rgb(241, 238, 64) , white);
    margin-bottom: 10px;
    text-align: center;
}

.footer{
    position: absolute;
    bottom: 1;
    width: 100%;
    padding: 50px;
  }