*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding-left: 40px;
    background-color: rgb(69, 127, 141);
}

nav{
    background-color: rgb(60, 80, 60);
}

.navitem{
    color: white;
}



h1{
    text-align: center;
background-color: rgb(60, 80, 60);
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 50px;
  }
