nav{
    background-color: rgb(60, 80, 60);
}

.navitem{
    color: white;
}

.jumbotron-fluid > .col {
    padding: 0px;
 }

 .jumbotron-fluid{
    background-image: url(../img/logo.JPG);
    text-align: center;
    padding-top: 250px;
    margin-bottom: 10px;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}
.jumbotron-fluid > .container{
    background-color: rgb(60, 80, 60);
    opacity: .8;
    border-radius: 100px;
    color: white;
}

.carousel1, .carousel2, .carousel3 {
    padding: 20px;
}

.iconbg {
    background-color: rgb(60, 80, 60);
    width: 30px;
    height: 30px;
    background-size: 15px;
    border-radius: 50%;
  }
  .caroscript {
      color: black
  }

  .footer{
    position: absolute;
    bottom: 1;
    width: 100%;
    padding: 50px;
  }